[Unit]
Description = Polybar

[Service]
Environment = "MONITOR=Virtual1"
ExecStart = /usr/bin/polybar -c /home/m0numentum/.config/polybar/config.ini example
ExecStop = /usr/bin/killall polybar

[Install]
WantedBy = default.target
