[Unit]
Description = FIFO for XOB

[Socket]
ListenFIFO = /tmp/xobfifo
SocketMode = 0644
SocketUser = m0numentum
SocketGroup = m0numentum
RemoveOnStop = true

[Install]
WantedBy = multi-user.target
