.window-frame {
	box-shadow: none;
	margin: 0
}

.titlebar {
  border-radius: 0;
  box-shadow: none;
  margin: 0
}

menu,
.csd .menu,
.csd .dropdown,
.csd .context-menu {
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
}
